.dashboard {
  background-color: white;
  padding: 2rem;
  border-radius: 0.5rem;

  .title {
    margin-top: 0;
  }

  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem auto;
    border: #4334e7 solid 1px;
    border-radius: 0.5rem;
    padding: 1rem;

    .avatar {
      border-radius: 0.5rem;
      min-width: 256px;
      min-height: 256px;
    }

    .profileInformation {
      margin-bottom: 0;

      .profileInformationItem {
        color: #1e90ff;

        &::marker {
          color: transparent;
        }
      }
    }
  }
}
