.login {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  max-width: 300px;

  padding: 16px;
  background-color: white;
  border-radius: 0.5rem;

  .loginForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .loginTitle {
      display: flex;
      justify-content: center;
    }

    .submitForm {
      color: white;
      background-color: #5144ee;
    }
  }
}

@media (min-width: 1025px) {
  .login {
    min-width: 423px;
    max-width: 423px;
  }
}
